extends layout 

block content 
    h1=title 

    form(method='POST' action='')
        div.form-group
            label(for='id') ID: 
            input#id.form-control(type='text' placeholder='ID' name='id' required='true')
            label(for='name') Name: 
            input#id.form-control(type='text' placeholder='Name of the student' name='name' required='true')
            label(for='fathers_name') Father's Name: 
            input#id.form-control(type='text' placeholder='Name of the father' name='fathers_name' required='true')
            label(for='contact_no') Contact Number: 
            input#id.form-control(type='tel' placeholder='Contact Number' name='contact_no' required='true')
            label(for='address') Address: 
            input#id.form-control(type='text' placeholder='Address' name='address' required='true')
            label(for='class') Class: 
            input#id.form-control(type='number' placeholder='Class of the student' min='1' max='10' name='class' required='true')
            label(for='gender') Gender: 
            select#id.form-control(name='gender')
                option(value="null") Select an option
                option(value="girl") Girl 
                option(value="boy") Boy
        button.btn.btn-primary(type='submit') Submit
if errors   
    ul 
        for error in errors 
            li!= error.msg
