extends layout 

block content 
    h2= title 


    u1 
        each student in student_list
            li (#{student.id})  #{student.name}  

        else 
            li There are no students