body {
  background-color: #f2f2f2;
  }
.sidebar-nav {
  margin-top: 15px;
  padding: 15px;
  list-style: none;
  background-color: #cfc9c9;
  text-align: center;
  border-radius: 5px;
  border-color: #0c0404;
}
.sidebar-nav h3{
  text-decoration: underline;
}
.sidebar-link {
  display: block;
  color: #0c0404;
  text-decoration: none;
}

.sidebar-link:hover,
.sidebar-link.active {
  background-color: #8e8581;
  color: #0c0404;
  text-decoration: none;
}
.header{
 text-align: center;
 background-color: rgb(236, 236, 119);
 background-image: url("/images/logo.png");
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: 50px 15px;
  padding-bottom: 30px;
}
.header-text{
  font-family: 'Times New Roman', Times, serif;
  color: #0f89b1;
  padding-top: 30px;
  font-weight: bold;
}
.header h4{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: #d33232;
}
.col-sm-10{
  padding-top: 15px;
  padding-bottom: 15px;
}
.col-sm-10 h2{
  padding-left: 30%;
  text-decoration: underline;
  color: #0f89b1;
}
.footer{
  background-color: rgb(236, 236, 119);
  text-align: left;
  padding: 15px;
}
